@{
    ViewBag.Title = "Home";
}

<div class="text-center" style="margin-top: 100px;">
    <h1>Welcome</h1>
    <p>
        <a href="https://learn.microsoft.com/aspnet/core/">
            Learn about building web apps with ASP.NET Core
        </a>
    </p>
</div>